.header{
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;
    height: 100%;
}
.header li{
    border-radius: 10px;
    background-color: whitesmoke;
    align-items: flex-start;
    display: flex;
    text-decoration: none;
    flex-direction: row;
}
.header li a{
    text-decoration: none;
    color: black;
}
#cesto{
    background-color: rgb(182, 198, 213);
    text-align: center;
    width: 100%;
    height: 100%;
}

#produtos{
    text-align: center;
     background-color: aliceblue;
     width: 100%;
     height: 100%;
}